:root{
    --mainColor:#33333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

div.info{
    border: 1px solid ;
    width: auto;
    display: inline-block;
}

div.flexC{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

form{
    width: 50%;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 50px;
    padding: 5%;
}

header{
    overflow: hidden;
    background-color: black;
    margin-bottom: 20px;
    height: 60px;
    padding: 10px;
}

header a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
}

header .logo{
    float: left;
}

header .logo span{
    margin-left: 15px;
}

label{
    padding-top: 20px;
}

.add{
    width:15px;
}
.form-label{
    text-align: center;
    margin: 30px;
}

.logoimg{
    width: 20px;
}

/* Search Bar Styles */

.searchResults{
    text-align: left;
}

.searchResults ul{
    background-color: antiquewhite;
    list-style-type: none;
    padding-left: 0%;
    margin: auto;
    width: 45%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.searchResults li{
    text-align: justify;
    padding-left: 5%;
}

.searchResults li:hover{
    background-color: rgb(221, 197, 166);
}

.search{
    position: fixed;
    width: 100%;
    margin: auto;
    text-align: center;
}

.search button{
    color: antiquewhite;
    background-color: #8C2F39;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.search button:hover{
    background-color: #b23848;
}

.search input{
    background-color: antiquewhite;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 1%;
    margin-right: 5px;
    width: 40%;
    box-shadow: 0 9px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.search input:focus{
    box-shadow: 0 0 16px rgba(0,0,0,0.30), 0 0 0 rgba(0,0,0,0.22);
}

#searchCards{
    padding-top: 5%;
}

.result{
    background-color: #f0f0f0;
    width: 60%;
    margin: auto;
    margin-top: 1.5%;
    margin-bottom: 2%;
    border-radius: 30px;
    padding-inline: 5%;
    padding-block: 1%;
    text-align: justify;
}

.result:hover{
    background-color: #cacacaad;
}

.result .coursetitle{
    color: #8C2F39;
    font-weight: bold;
}

.result a{
    text-decoration: none;
    color: #111;
}
