:root{
    --mainColor:#33333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

div.info{
    border: 1px solid ;
    width: auto;
    display: inline-block;
}

div.flexC{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}